html {
    background: url(https://images.pexels.com/photos/7674/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    font-family: 'Segoe UI';
}

.template {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main sidebar"
      "footer footer footer footer";
}



.header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 1%;
    margin: 1% 1% 1% 1%;
}

.header h1 {
    margin: auto;
    text-align: center;
}



.navigator {
    grid-area: sidebar;
    margin: 1% 1.5% 1% 1%;
}

.navigator ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.navigator li {
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 3% 0 3% 0;
    color: black;
    width: 96%;
    text-align: center;
}

.navigator a {
    text-decoration: none;
    color: #ffffff;
}

.navigator li:hover, .navigator a:hover {
    background-color: white;
    font-weight: bolder;
    box-shadow: 0 0 10px 2px gray;
}



.main {
    grid-area: main;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.74);
    margin: 0.5% 1% 1% 1.5%;  
}

.main h2 {
    margin:auto;
}

.main h3 {
    margin-top: 5%;
}

.main img {
    position: relative;
    float: left;
    margin-top: 2%;
    width: 25%;
    border-radius: 50%;
}

.main progress {
    width: 100%;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px gray;
}

progress[value]::-webkit-progress-value {
    background-color: green;
}

.main .left {
    position: relative;
    float: left;
    width: 50%;
    margin-left: 0;
}

.main .container {
    position: relative;
    float: left;
    width: 50%;
    margin-left: 3%;
}

.main .right {
    float: right;
    width: 45%;
}

.main table {
    width: 100%;
}

tr .left {
    position: relative;
    float: left;
    width: 50%;
}

tr .right {
    float: right;
    text-align: right;
    width: 49%;
}



.footer {
    margin: 1% 1% 1% 1%;
    grid-area: footer;
    padding: 1%;
    background-color:rgba(255, 255, 255, 0.74);
}


/* Tablets */

@media only screen and (max-width:768px) {
    .template {
        grid-template-areas: 
            "header header header header ."
            "sidebar sidebar sidebar sidebar ."
            "main main main main ."
            "footer footer footer footer ."; 
    }

    .navigator li {
        width: 100%;
        margin-bottom: 1%;
        padding: 1.5% 0 1.5% 0;
    }

    .navigator {
        margin: 0 1% 0 1.5%;
    }

    .main .left {
        position: relative;
        float: left;
        width: 50%;
        margin-left: 0;
    }

    .main .container {
        margin-left: 0;
    }

    .main img {
        position: relative;
        float: right;
        width: 40%;
    }

    .header, .footer {
        margin: 1% 1% 1% 1.5%;
    }
}

@media only screen and (max-width:510px) {    
    tr .left, tr .right{
        width: 100%;
        float: left;
        text-align: left;
    }

    .main .left, .main .right {
        position: relative;
        float: left;
        width: 100%;
    }

    .main img {
        width: 100%;
        float: right;
    }
}


/* Smartphones */

@media only screen and (max-width:300px) {
    .navigator li {
        margin-bottom: 1.5%;
    }

    .navigator {
        margin: 0.2% 1% 0 1%;
    }
}